/* 
    Document   : inicio
    Created on : 24-mar-2016, 0:54:33
    Author     : Jorge Rodríguez <jergo23@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

